<div>
  <h4>template.ng</h4>
  <p>
    angular template project including everything needed in an angular project
  </p>

  <h6>contains:</h6>

  <ul>
    <li>
      <a href="https://angular.io/" target="_blank">angular:13</a>
    </li>
    <li>
      <a href="https://getbootstrap.com/" target="_blank">bootstrap:5</a>
    </li>
    <li>
      <a href="https://fontawesome.com/" target="_blank">fontawesome:5</a>
    </li>
  </ul>

  <h6>done:</h6>

  <ul>
    <li>RENAME.md</li>
    <li>environment configuration</li>
    <li>(safe)++cookie storage</li>
  </ul>

  <h6>todo:</h6>

  <ul>
    <li>rename.project.sh script</li>
    <li>authentication/authorization system</li>
    <li>
      environment configuration
      <div>
        <li>should fail if no file</li>
      </div>
    </li>
  </ul>

  <h6>using:</h6>

  <div>
    <p>
      to use this angular template, download the source code and run the rename
      script to rename the project. the rename script has been created to make
      it easier to rename this template. to run the rename script, run the
      following command:

      <br />

      <code>sh ./rename.project.sh</code>

      <br />

      or

      <br />

      <code>sh ./rename.project.sh project-name</code>

      <br />

      one can also download the source code and use pieces of the project in
      other projects.
    </p>
  </div>

  <h6>contributing:</h6>

  <p>
    create a fork of the source code repository, clone it, make the changes, and
    create a pull request. the pull request will be merged into the master
    breach
  </p>
</div>
